.DS_Store
.gitignore
.htaccess
admin.php
index.php
images/
templates/
system/index.html
system/codeigniter
system/expressionengine/*
!system/expressionengine/third_party/
system/expressionengine/third_party/*
!system/expressionengine/third_party/gmap
themes/*
themes/third_party/*
!themes/third_party/gmap