{exp:gmap:search
    channel="test_channel"
    latitude_field="latitude"
    longitude_field="longitude"
    geocode_field="location"
    distance_field="distance_max"
    cache_post="false"}

		
	<div class="block-half-border main-content start">
		<h3>Search Events</h3>	
		<ul class="search">
	            <!-- <li>
	                <label for="title">Title</label>
	                <input type="text" name="title_like" id="title" value="" />
	            </li> -->
			<li>
				<label for="location">Location</label>	
				<input name="location" id="location" value="{if post:location}{post:location}{/if}" type="text">	
			{if error:location}<p class="error">{error:location}</p>{/if}
			</li>
			<li>
				<label for="location">Distance</label>
				<select name="distance_max">
					<option value="" {if !distance_max || distance_max == ""}selected="selected"{/if}>Any
					<option value="5" {if distance_max == 5}selected="selected"{/if}>5</option>
					<option value="10" {if distance_max == 10}selected="selected"{/if}>10</option>
					<option value="20" {if distance_max == 20}selected="selected"{/if}>20</option>
					<option value="50" {if distance_max == 50}selected="selected"{/if}>50</option>
					<option value="100" {if distance_max == 100}selected="selected"{/if}>100</option>
				</select>
			</li>
			<li>
				{categories}
					<label><input type="checkbox" name="categories[]" value="{category_id}" {checked} />{category_name}</label><br>
				{/categories}				
			</li>
		</ul>
			
		<input type="submit" value="Search Events" class="submit" />
	</div>
{/exp:gmap:search}

{exp:gmap:results match_categories="1"}
	
	{results}
		
		{title} - {category_id} - {category_ids} - {categories}<br>
		
	{/results}
	
{/exp:gmap:results}